<apex:page sidebar="false" docType="html-5.0" standardStylesheets="false" showHeader="false" applyHtmlTag="false" >

    <Html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
             <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
             <link type="text/css" rel="stylesheet" href = "{!urlfor($resource.slds)}"/>
             <script>
                 
               var myApp =   angular.module('MyApp',[]);
               myApp.controller('MyCtrler',function ($scope){
               
                   $scope.firstname = "sagar";
                   $scope.lastname = "soni";
                   $scope.email;                   
                   $scope.create = function(){

                        var contObj = new sforce.SObject("Contact");
                        contObj.FirstName = $scope.firstname;
                        contObj.LastName = $scope.lastname;
                        contObj.Email = $scope.email;
                        
                        var result = sforce.connection.create([contObj]);
                        
                        if (!result[0].getBoolean("success")) {
                           alert("failed to create new Account " + result[0]);
                        }else{
                        
                            alert('Contact Created');
                        }                              
                    }
               });

            </script>
        </head>     
        <body>
          
        <div class="slds">
              <div class="slds-box slds-theme--shade">
                  Create a New Contact
              </div>
              
              <div ng-app="MyApp" ng-controller="MyCtrler">               
                   <form name="myForm">        
                       <table border="2" class="slds-table slds-table--bordered slds-max-medium-table--stacked-horizontal">
                           <tr>
                               <td>First Name </td>
                               <td><input type="text" class="slds-input" ng-model="firstname"/></td>
                           </tr>
                           <tr>
                               <td>Last Name </td>
                               <td><input type="text" name="lastname" class="slds-input"  ng-model="lastname"  required="true" />
                                   <br/>
                                   <span style="color:red;" ng-show = "myForm.lastname.$invalid">Last Name is required.</span>

                               </td>
                           </tr>
                           <tr>
                               <td>Email</td>
                               <td><input type="email"  name="email" class="slds-input"  ng-model="email"  />
                                   <br/><span style="color:red;" ng-show = "myForm.email.$invalid">Email is Invalid .</span>

                               </td>
                           </tr>
                           <tr>
                               <td colspan="2"> <input type="button" class="slds-button slds-button--neutral slds-button--brand"  value="Submit" ng-click = "create();" ng-disabled="myForm.lastname.$invalid || myForm.email.$invalid" / > </td>
                           </tr>
                       </table>                  
                   </form>                 
              </div>
           </div>   
        </body>       
   </Html>     
</apex:page>