<apex:page standardStylesheets="false" sidebar="false" showHeader="false">
   <style>

    .box{
        animation-duration: 5s;
        animation-name: slidein1;
    }

    @keyframes slidein1 {
        from {
            margin-left: 100%;    
        }

        to {
                margin-left: 0%;
                width: 100%;
        }
    }

   </style>
   <apex:form >
       <apex:composition template="CompositionTemplatePage">
             <apex:define name="body" >
                <div  style="background-color:#cc9c9c;font-size:28px">
                    <div class="box" >
                        This is Body<br/><br/>
                        This is will contain some content. <br/><br/>
                        This will be dynamic. <apex:commandbutton value="click here to proceed" />
                        
                        <br/><br/>
                    </div> 
                </div>
            </apex:define>
           
        
        
        </apex:composition>
   </apex:form>
</apex:page>