<apex:page controller="InstaConnectController"  doctype="html-5.0" showheader="false" standardStylesheets="false" sidebar="false" language="en-US" applyHTMLTag="false">
    <head>
        <meta charset="utf-8" />
        <title>Login</title>
      
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Bootstrap -->
       <!-- <link href="{!URLFOR($Resource.bootstrap_3_3_6, '/css/bootstrap.min.css')}" rel="stylesheet" /> -->
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
      
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!--<apex:includeScript value="{!URLFOR($Resource.bootstrap_3_3_6, '/js/jquery-1.11.3.min.js')}"></apex:includeScript> -->
            
        <!-- Include all compiled plugins (below), or include individual files as needed -->
       <!-- <apex:includeScript value="{!URLFOR($Resource.bootstrap_3_3_6, '/js/bootstrap.min.js')}"></apex:includeScript>
        <apex:includeScript value="{!URLFOR($Resource.spinnerJs, 'jquery.spinner.js')}"></apex:includeScript> -->
        
        <style>
            <!-- Spinner -->
            .waitingSearchDiv{
                background-color:white; 
                opacity: 0.40; 
                filter: alpha(opacity = 40);
                position: fixed; 
                width: 100%; height: 100%; 
                top: 0; left: 0; 
                z-index: 9999999 !important;
            }
            .waitingHolder{
                width: 10%;
                left: 45%;
                top: 40%;
                z-index:99999999;
                position: fixed;
                height: 50px;
                background-color: #f3f3f3;
                border-radius: 3px;
                padding: 10px;
                box-shadow: 0 2px 2px #aaa;
            }            
            <!-- End spinner -->
            <!-- My css -->
            .container{
                padding: 50px;
            }
            
            .login-form{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);            
                text-align: center;
                display: block;
                border-radius: 5px;
                padding: 0px 14px; 
            }
            
            .login-header{
                padding:35px 50px;  
                border-radius: 5px 5px 0px 0px;              
            }
            .login-header, .login-heading{
                background-color: #5cb85c;
                color:white !important;
                text-align: center;
                font-size: 30px;                
            }                
            
            .login-body{
                padding:40px 50px;
                text-align: center;
            }
        </style>
        <script>
            function loginJS(){
                login();
            }
            
            function postJS(){
                post();
            }
        </script>
    </head>
    
    <body>
        <apex:form id="frm">
        {!responseString}
          <apex:commandButton value="login " action="{!login}" rerender="frm"/>
        <apex:commandButton value="post" action="{!postText}"/>
        
            <apex:actionstatus id="thestatus">
                <apex:facet name="start">
                    <div class="waitingSearchDiv" id="el_loading" > </div>                    
                    <div class="waitingHolder" style="height:0px;width:0px;padding:0px;">
                       <!--<img class="waitingImage" src="/img/loading32.gif" title="Please Wait..." />
                        <span>Please Wait...</span>-->
                     <div id="js-spinner"></div>
                        <script>
                              $(function() {
                                $('#js-spinner').spinner({
                                  strokeWidth: 2,
                                  color: '#58595b',
                                  radius: 40
                                });
                              });
                        </script>                        
                    </div> 
                </apex:facet>
            </apex:actionstatus>            
            <apex:actionFunction name="login" action="{!login}" status="thestatus" reRender="frm"/>            
            <!--<apex:actionFunction name="post" action="{!post}" status="thestatus" reRender="frm"/> -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-8">  
                        <div onclick="loginJS(); return false;" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span>Login to instagram</div>
                            
                    </div>
                     <br/> 
                     <br/>           
                    <div class="col-xs-offset-4 col-xs-4">                          
                        <div onclick="postJS(); return false;" class="btn btn-info btn-block">Post to insta</div>
                            
                    </div>
                    <br/>
                    <br/>
                    <p>{!responseString}</p>
                </div>
            </div> 
        </apex:form>
    </body>
</apex:page>