<apex:page controller="JqueryPaginationController">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js" />
    <script src="{!urlfor($resource.JqueryPagination,'JqueryPagination/jquery.twbsPagination.js')}" / >
    <script src="{!urlfor($resource.JqueryPagination,'JqueryPagination/jquery.twbsPagination.min.js')}" / >
     <link rel="stylesheet" href="https://code.jquery.com/qunit/qunit-1.13.0.css" />
    <script>    
       // var lst = {!AccList};
         //   alert(lst);
         $('#pagination-demo').twbsPagination({
            totalPages: 5,
            visiblePages: 3,
            
        });
        
    </script>

    <ul id="pagination-demo" class="pagination-sm">
   <apex:repeat value="{!profileList }" var="prof">
        
            <li> {!prof.name} </li>
             <li> {!prof.lastmodifieddate} </li>
        
        </apex:repeat>
       <!-- <apex:repeat value="{!AccountList}" var="acc">
        
            <li> {!acc.name} </li>
        
        </apex:repeat> -->
    </ul>

</apex:page>