<apex:page docType="html-5.0" standardStylesheets="false"  controller="Lightning_ExampleController">
    <apex:slds />
    <html  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <head>
               <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
               <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
               <script src="{!URLFOR($Resource.aljs, 'jquery.aljs-init.min.js')}"></script>
                <!-- ALJS Datepicker Module-->
                <script src="{!URLFOR($Resource.aljs, 'jquery.aljs-datepicker.min.js')}"></script>
                <script src="{!URLFOR($Resource.aljs, 'jquery.aljs-lookup.min.js')}"></script>
               
               <script>
                    
                    var assetsLoc = '{!URLFOR($Resource.LightningDesignSystem)}/LightningDesignSystem';
  
                    //ALJS Initialization   
                           
                    $.aljsInit({
                      assetsLocation: assetsLoc, //SLDS Static Resource Path
                      scoped: true
                    });
                    
                   $(document).ready(function() {
                        $('#date').datepicker({
                        initDate: moment(), //Today Date
                        format: 'YYYY/MM/DD', //Date Format Of Datepicker Input Field
                        onChange: function(datepicker) {
                        $('#SelectedDate').html('Selected Date: <strong>'+moment(datepicker.selectedFullDate._d).format('YYYY/MM/DD')+'</strong>');
                       }
                      });
                      
                      //lookup setup
                       $('#lookup-01').lookup({
                        filledSearchTermQuery : function(searchTerm,callback){
                            console.log('called--->' + searchTerm);
                            Visualforce.remoting.Manager.invokeAction(
                                '{!$RemoteAction.Lightning_ExampleController.fetchAccounts}',
                                searchTerm, 
                                function(result, event){
                                    if (event.status) {
                                       var accounts = result;
                                       callback(accounts);

                                    }  else {
                                        callback(accounts);
                                    }
                                }, 
                                {escape: true}
                            );
                        }
                        });
                     
                                  
                    })
                    
                    
                    
                    function searchAccounts(key){
                    
                        console.log('called--->' + key);
                        Visualforce.remoting.Manager.invokeAction(
                            '{!$RemoteAction.Lightning_ExampleController.fetchAccounts}',
                            key, 
                            function(result, event){
                                if (event.status) {
                                   var accounts = result;
                                   return accounts;
                                 
                                  
                                       
                                } else if (event.type === 'exception') {
                                    
                                } else {
                                    document.getElementById("responseErrors").innerHTML = event.message;
                                }
                            }, 
                            {escape: true}
                        );
                 }
                 
                
               </script>
        </head>
    
        <body>
            <apex:form >
                <div class="slds-scope">
                    <!-- --------- card starts ------------------------------------- -->
                    <div class="slds-grid">
                        <div class="slds-col">
                             <article data-reactroot="" class="slds-card">
                              <div class="slds-card__header slds-grid">
                                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                  <div class="slds-media__figure">
                                    <span class="slds-icon_container slds-icon-standard-contact" title="description of icon when needed">
                                      <c:SVGComponent styleClass="slds-button__icon--stateful slds-icon--small"  path="LightningDesignSystem/assets/icons/utility-sprite/svg/symbols.svg#contact" />
                                    </span>
                                  </div>
                                  <div class="slds-media__body">
                                    <h2>
                                      <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="[object Object]">
                                        <span class="slds-text-heading_small">Account Information</span>
                                      </a>
                                    </h2>
                                  </div>
                                </header>
                                <div class="slds-no-flex">
                                  <button class="slds-button slds-button_neutral">New</button>
                                </div>
                              </div>
                              <div class="slds-card__body slds-card__body_inner">
                                   <div class="slds-grid">
                                       <div class="slds-col--padded slds-size_2-of-4">
                                           Name <apex:inputfield value="{!accObj.name}" styleclass="slds-input"/>
                                       </div>
                                       <div class="slds-col--padded slds-size_2-of-4">
                                         <!--  Parent Account <apex:inputText onkeyup="searchAccounts(this.value);" styleclass="slds-input" /> -->
                                          <!-- --------------------------------------- -->
                                           <div class="slds-form-element slds-lookup" data-select="single" data-scope="single">
                                                <label class="slds-form-element__label" for="lookup-01">Parent Account</label>
                                                <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                    <c:SVGComponent styleClass="slds-input__icon slds-icon-text-default"  path="LightningDesignSystem/assets/icons/utility-sprite/svg/symbols.svg#search" />

                                                    <input id="lookup-01"   class="slds-lookup__search-input slds-input" type="text" aria-autocomplete="list" role="combobox" aria-expanded="false" aria-activedescendant="" placeholder="Parent Account" />
                                                </div>
                                            </div>
                                           <!-- ------------------------------- -->
                                       </div>
                                   </div> 
                                    <div class="slds-grid">
                                       <div class="slds-col--padded slds-size_2-of-4">
                                           Website <apex:inputfield value="{!accObj.website}" styleclass="slds-input"/>
                                       </div>
                                       <div class="slds-col--padded slds-size_2-of-4">
                                           Phone <apex:inputfield value="{!accObj.phone}" styleclass="slds-input" /> 
                                          
                                       </div>
                                   </div> 
                                   <div class="slds-grid">
                                       <div class="slds-col slds-size_2-of-2">
                                           <div class="slds-form--stacked">
                                            <div class="slds-form-element">
                                                    <label class="slds-form-element__label" for="date">Date Picker Label</label>
                                                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon--right">
                                                        <c:SVGComponent styleClass="slds-input__icon slds-icon-text-default"  path="LightningDesignSystem/assets/icons/utility-sprite/svg/symbols.svg#event" />
                                                       
                                                        <input id="date" class="slds-input" type="text" placeholder="Pick a Date" label="Date Picker Label"/>
                                                    </div>
                                                </div>
                                            </div>
                                            <span id="SelectedDate"></span>
                                        </div>
                                  </div>
                              </div>
                             <!-- <footer class="slds-card__footer">Card Footer</footer> -->
                            </article>
                        </div>
                    </div>
                   
                    
                    <div class="slds-grid" style="margin-top:1%;">
                        <div class="slds-col" >
                            <div class="slds-box" >
                                <h2 style="font-size:20px;">All Contacts</h2><Br/>
                                <table  class="slds-table slds-table_bordered slds-table_cell-buffer">
                                  <thead>
                                    <tr class="slds-text-title_caps">
                                      <th scope="col">
                                        <div class="slds-truncate" title="Name">Name</div>
                                      </th>
                                      <th scope="col">
                                        <div class="slds-truncate" title="Email">Email</div>
                                      </th>
                                      <th scope="col">
                                        <div class="slds-truncate" title="Phone">Phone</div>
                                      </th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                      <apex:repeat value="{!contactList}" var="cont">
                                          <tr>
                                              <td data-label="Name">
                                                <div class="slds-truncate" title="Cloudhub">{!cont.name}</div>
                                              </td>
                                              <td data-label="Email">
                                                <div class="slds-truncate" title="Cloudhub">{!cont.email}</div>
                                              </td>
                                              <td data-label="Phone">
                                                <div class="slds-truncate" title="Cloudhub">{!cont.Phone}</div>
                                              </td>
                                          </tr>     
                                      </apex:repeat>
                                 </tbody>
                               </table> 
                            </div>    
                        </div>
                    </div>
                </div> <!-- closing scope ----------------- -->
            </apex:form>
        </body>
    </html>
</apex:page>