<apex:page controller="MyPortalPageController"> 
    <apex:form > 
        <apex:outputText value="Watch this counter: {!count}" id="counter"/> 
        
        <apex:actionFunction name="myPollingFunc" action="{!incrementCounter}" rerender="counter"/>
         
        <script type="text/javascript"> 
              setInterval(myPollingFunc,500); 
        </script> 
  </apex:form> 
    
</apex:page>