<apex:page >
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>
      <script src="https://apis.google.com/js/api.js"></script>


  <Script>
    
        function start() {
          gapi.load('auth2', function() {
            auth2 = gapi.auth2.init({
              client_id: '726671845416-h8gf8gnj1m3ervar50ralp2bt5hc90mk.apps.googleusercontent.com.apps.googleusercontent.com',
              // Scopes to request in addition to 'profile' and 'email'
              //scope: 'additional_scope'
            });
          });
        }
        $('#signinButton').click(function() {
        // signInCallback defined in step 6.
        auth2.grantOfflineAccess().then(signInCallback);
      });
    
        function signInCallback(authResult) {
          if (authResult['code']) {
        
            // Hide the sign-in button now that the user is authorized, for example:
            $('#signinButton').attr('style', 'display: none');
        
            // Send the code to the server
            $.ajax({
              type: 'POST',
              url: 'http://example.com/storeauthcode',
              // Always include an `X-Requested-With` header in every AJAX request,
              // to protect against CSRF attacks.
              headers: {
                'X-Requested-With': 'XMLHttpRequest'
              },
              contentType: 'application/octet-stream; charset=utf-8',
              success: function(result) {
                // Handle or verify the server response.
              },
              processData: false,
              data: authResult['code']
            });
          } else {
            // There was an error.
          }
    }
    $(document).ready(function(){
          start();
      });
  </script>


 
    
    <button id="signinButton" >Sign In</button>

</apex:page>